* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.developer {
    text-align: center;
}

.developer img {
    width: 200px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(5, 0, 82, 0.575); 
}

.developer p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    background-color: rgb(9, 9, 48);
    z-index: 1000;
}

.encabezado {
    display: flex;
    gap: 20px;
}

.encabezado b {
    position: relative;
}

.encabezado a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    display: inline-block;
}

.logo img{
    width: 170px;
    padding-left: 80px;
}